html, body, #root{
    height:100vh;
    overflow: hidden;
}

.home { 
    display: grid; 
    grid-template-columns: 8fr 0.7fr; 
    grid-template-rows: 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height:92vh;
    }

.map-div{
    grid-area:  1 / 1 / 2 / 2;
}

.market-list {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 1fr;
    grid-area: 1 / 2 / 2 / 3;
} 

.list{
    list-style-type: none;
    content: inherit;
}

.market-item{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    text-align: center;
    height: fit-content;
    position: relative;
}

.market-icon{
    margin: 5px;
    width: 5vw;
    padding-bottom: 0;
    margin-bottom: 0;
}

.market-name{
    margin-top: 0;
    padding-top: 0;
    font-size: 1.1vw;
}

.market-item:hover{
    box-shadow: 1px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    right: 10px;
    top: 5px;
    /* margin-right: 50px; */
}