.map-div2{
    height: 100%;
}

.map-container{
    height: 100%;
}

.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl, .mapboxgl-ctrl-attrib, .mapboxgl-ctrl-attrib-button, .mapboxgl-ctrl-attrib-inner {
    height: max-content;
    background: none;
    }

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right {
    height: max-content;
    background: none;
    }